*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #FBF7F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

    /*Navigation Styling*/
nav{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    padding-top: 0;

    background-color: #FBF7F0;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);

}
a{
    text-decoration: none;
    color:inherit;
}
nav img{
    height: 100%;
    width: 100px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
.about-link{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-weight: 700;
}
.nav-links a:hover{
    transition: all 0.3s ease;
    text-shadow: 0px 8px 25px rgba(0.6, 0.6, 0.6, 0.6);
}
    /*Hero Styling*/
.about-us{
    text-align: center;
    margin: 50px 0;
    margin-top: 100px;
    width: 100%;
}
.about-us h1{
    font-size: 52px !important;
    color: #3F5A2A;
    margin-bottom: 10px;
}
.about-us p{
    font-size: 20px;
    color: #2B2B2B;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}
.table-container{

    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 900px;

    
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;

}
table th{
    background-color: #f2f2f2;
    padding: 15px 10px;
    color: #2B2B2B;
    font-weight: 600;
    font-size: 14px;
    white-space: normal;
    word-break: break-word;
}
table th:first-child{
    border-radius: 15px 0 0 15px;
}
table th:last-child{
    border-radius: 0 15px 15px 0;
}
tbody td{
    padding: 20px 10px;
    font-size: 14px;
    vertical-align: middle;
    white-space: normal;
    word-break: break-word;
}
.links-cell{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 50%;

}
.icon-link img{
    width: 20px;
    height: auto;

}

    /*footer Styling*/
footer{
    margin: 40px;
    margin-bottom: 20px;
    width: 90%;
    margin-top: auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-logo img{
    max-width:100px;
    height: auto;
}
.footer-logo p{
    margin-top: -4px;
    font-size: 9px;
    color: #596340;
}
.footer-nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    color: #3A3A3A;
    align-items: center;
}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-socails img{
    width:16px;
    height: auto;
}
.footer-email{
    display: flex;
    font-size: 10px;
    color: #6B6B6B;
    align-items: center;
    gap: 4px;
}
.footer-bottom{
    text-align: center;
    font-size: 10px;
    color: #8A8A8A;
    align-items: baseline;
    margin-top: 24px;
}



    /*Responsive Layout*/

    @media screen and (max-width:872px){

    .table-container{
        padding: 20px;
    }
    table th,
    table td{
        font-size: 14px;
        padding: 8px;
    }
    .icon-link{
        width: 30px;
        height: 30px;
    }
    .icon-link img{
        width: 16px;
    }
}
        /*footer query*/
    .footer-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-socials{
        grid-column: 2 span;
        justify-content: center;
        margin-top: 12px;
    }
    
@media screen and (max-width:690px) {
    .table-container{
        padding: 15px;
    }
    table th,
    table td{
        font-size: 12px;
        padding: 6px;
    }
    .icon-link{
        width: 26px;
        height: 26px;
    }
    .icon-link img{
        width: 14px;
    }
    .about-us h1{
        font-size: 36px !important;
    }
    .about-us p{
        font-size: 16px;
        max-width: 90%;
        padding: 0 10px;
    }

        /*nav query*/
    .nav-links{
        gap: 20px;
        font-size: 12px;
    }
       /*footer query*/
    .footer-top{
        display: flex;
        flex-direction: column;   
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    .footer-nav-links{
        gap: 12px;
        font-size: 12px;
        justify-content: center;
    }
}

@media screen and (max-width: 475px) {

    .table-container{
        padding: 10px;
    }
    table th,
    table td{
        font-size: 10px;
        padding: 5px;
    }
    .icon-link{
        width: 22px;
        height: 22px;
    }
    .icon-link img{
        width: 12px;
    }
    .about-us h1{
        font-size: 32px !important;
    }
    .about-us p{
        font-size: 14px;
        line-height: 1.4;
    }
        
     /*nav query*/
     .navbar{
        padding: 0 20px;
     }
     .navbar img{
        max-width: 80px;
     }
    .nav-links{
        gap: 12px;
        font-size: 12px;
    }}