body{
    background-color: #FBF7F0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #2B2B2B;
}
    /*Navigation Styling*/
* {
    box-sizing: border-box;
}
nav{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    padding-top: 0;

    background-color: #FBF7F0;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);

}
a{
    text-decoration: none;
    color:inherit;
}
nav img{
    height: 100%;
    width: 100px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
.contact-link{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-weight: 700;
}
.nav-links a:hover{
    transition: all 0.3s ease;
    text-shadow: 0px 8px 25px rgba(0.6, 0.6, 0.6, 0.6);
}

header{
    text-align: center;
    padding: 40px 0 20px;
    margin-top: 100px;
}
header h1{
    color: #3F5A2A;
    font-size: 52px;
    margin: 0 0 10px;
}
header p{
    font-size: 16px;
    color: #6B6B6B;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}
.info-card{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto 50px;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.info-grid{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.content-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
    object-fit: contain;
}
.info-details{
    color: #6B6B6B;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #F4F4F4;
    border-radius: 50%;
}
.social-img{
    width: 20px;
    height: 20px;
    display: block;
}
.form-section h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #2B2B2B;
    font-size: 28px;
}
.row{
    display: flex;
    gap: 15px;
    margin-top: 25px;
    align-items: flex-end;
}
.input-group{
    flex: 1;
    position: relative;
}
input, select, textarea {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 0.5px solid #6B6B6B; 
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #2B2B2B;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
}
textarea{
    padding-top: 12px;
    height: 120px;
    resize: none;
}

.floating-label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF; 
    padding: 0 5px;
    color: #6B6B6B;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1;
}
textarea + .floating-label{
    top: 20px;
    transform: none;
}
input:focus, select:focus, textarea:focus {
    border: 1.5px solid #FB7A38 !important;
    outline: none;
}
input:focus + .floating-label, 
input:not(:placeholder-shown) + .floating-label,
textarea:focus + .floating-label,
textarea:not(:placeholder-shown) + .floating-label {
    top: 0;
    font-size: 12px;
    color: #FB7A38;
    font-weight: bold;
    transform: translateY(-50%);
    background: linear-gradient(to bottom, #FBF7F0 50%, #FFFFFF 50%) !important;
}
input:focus + .floating-label,
textarea:focus + .floating-label,
select:focus + .floating-label {
    color: #FB7A38 !important;
}
input:focus, select:focus, textarea:focus {
    border: 1.5px solid #FB7A38 !important;
    outline: none;
}
input:not(:placeholder-shown):not(:focus) + .floating-label,
textarea:not(:placeholder-shown):not(:focus) + .floating-label {
    color: #6B6B6B;
}
.gender-title {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
.gender-options{
    display: flex;
    gap: 10px;
}
.radio-label input[type="radio"] {
    display: none;
}
.radio-label input[type="radio"]:checked + .button-design {
    background-color: rgba(251, 122, 56, 0.15);
    border-color: #FB7A38;
}
.submit-button{
    background-color: #FB7A38;
    color: #FFFFFF;
    border: none;
    padding: 15px 130px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    font-size: 14px !important;
    font-weight: bold;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.submit-button:hover {
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.45);
    transform: scale(1.06);
}

input[type="date"]:focus,
input[type="date"]:valid,
input[type="date"]:not(:placeholder-shown) {
    color: #6B6B6B;
}

select:active {
    border-color: #FB7A38;
}
select option {
    color: #2B2B2B; 
    background-color: #FFFFFF;
}
.form-section .input-group:last-of-type{
    margin-top: 25px;
}
input:focus, textarea:focus {
    border: 1.5px solid #FB7A38 !important;
}
.radio-label{
    flex: 1;
}
.button-design{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 14px;
    font-family: inherit;
    transition: 0.3s;
    border: 0.5px solid #6B6B6B;
    border-radius: 12px;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #6B6B6B;
}
input[type="date"] {
    color: transparent;
}
input[type="date"]:focus,
input[type="date"]:valid,
input[type="date"]:not(:placeholder-shown) {
    color: #6B6B6B;
}
.input-group {
    position: relative;
}
select{
    color: #6B6B6B;
}
input[required] + .floating-label::after,
textarea[required] + .floating-label::after,
select[required] + .floating-label::after {
    content: " *";
    color: #e74c3c;
    font-weight: bold;
}
.gender-title::after {
    content: " *";
    color: #e74c3c;
    font-weight: bold;
}

    /*footer Styling*/
footer{
   margin: 40px auto 20px auto; 
    width: 100%;                
    max-width: 90%;             
    box-sizing: border-box;
    
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-logo img{
    max-width:100px;
    height: auto;
}
.footer-logo p{
    margin-top: -4px;
    font-size: 9px;
    color: #596340;
}
.footer-nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    color: #3A3A3A;
    align-items: center;
}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-socails img{
    width:16px;
    height: auto;
}
.footer-email{
    display: flex;
    font-size: 10px;
    color: #6B6B6B;
    align-items: center;
    gap: 4px;
}
.footer-bottom{
    text-align: center;
    font-size: 10px;
    color: #8A8A8A;
    align-items: baseline;
    margin-top: 24px;
}

/*Responsive Layout*/

    @media screen and (max-width:872px){
        .container{
            max-width: 90%;
        }
        .submit-button{
            padding: 15px 80px;
        }
      
        /*footer query*/
    .footer-top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .footer-socials{
        grid-column: 2 span;
        justify-content: center;
    }
    }

@media screen and (max-width:690px) {
    header h1{
        font-size: 36px;
    }
    h2{
        font-size: 16px !important;
    }
    header p{
        font-size: 14px !important;
    }
    .row{
        flex-direction: column;
        gap: 25px;
        align-items: stretch;
    }
    .info-grid{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .info-card{
        max-width: 75%;
        padding: 15px 10px;
    }
    .info-details{
        font-size: 10px;
    }
    .content-icon{
        width: 12px;
        height: 12px;
    }
    .social-img{
        width: 12px;
        height: 12px;
    }
    .social-icons a{
        width: 20px;
        height: 20px;
    }
        /*nav query*/
    .nav-links{
        gap: 20px;
        font-size: 14px;
    }
       /*footer query*/
    .footer-top{
        display: flex;
        flex-direction: column;   
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-nav-links{
        gap: 12px;
        font-size: 12px;
        justify-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    header h1{
        font-size: 32px;
    }
    h2{
        font-size: 14px !important;
    }
    header p{
        font-size: 12px !important;
    }

    .info-grid{
        gap: 4px;
        align-items:start;
    }
    .info-card{
        max-width: 400px;
    }
    .submit-button{
        width: 100%;
        padding: 15px 0;
        font-size: 12px !important;
        width: 50%;
    }
    .gender-options{
        flex-direction:row;
    }
    .button-design{
        height: 45px;
    }
        
     /*nav query*/
     .navbar{
        padding: 0 20px;
     }
     .navbar img{
        max-width: 80px;
     }
    .nav-links{
        gap: 12px;
        font-size: 12px;
    }}