body{
    background-color: #FBF7F0;
    font-family: 'Inter' , sans-serif;
}
/*Allow smooth scrolling when using navbar*/
html {
    scroll-behavior: smooth;
    /* To reach the exact top  */
    scroll-padding-top: 160px; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
section{
    width: 90%;       
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    
}
h2{
    font-size: 28px;
    color: #3F5A2A;
    margin-bottom: 8px;
}
    /*Navigation Styling*/
nav{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    padding-top: 0;

    background-color: #FBF7F0;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);

}

nav img{
    height: 100%;
    width: 100px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
}
.home-link{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-weight: 700;
}
.nav-links a:hover{
    transition: all 0.3s ease;
    text-shadow: 0px 8px 25px rgba(0.6, 0.6, 0.6, 0.6);
}

    /*Hero Styling*/

.hero{
    background-image: url('../media/hero_background.png');
    max-width: 100%;
    width: 100%;
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    min-height: 720px;                 
    
    margin-bottom: 0px;
    padding-top: 280px;

}
.hero-container{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.hero img{
    height: 100%;
    max-width:480px;
    margin: -8px;
}
.hero h3{
    font-size: 20px;
    font-weight: 550;
    color: #596340;
}
.hero p{
    margin: 20px 0;
    letter-spacing: 1px;
    line-height: 24px;
}
.volunteer-button{
    display: inline-block;
    background-color: #FB7A38 ;
    color: #ffffff;
    font-size: 18px;
    padding: 14px 80px;
    border-radius: 20px;
    margin-top: 8px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.volunteer-button:hover{
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.45);
    transform: scale(1.06);
}

    /*Features Styling*/
.features{
    margin-top: 160px ;
    margin-bottom: 220px;
}
.features p{
    color: #2B2B2B;
}
.feature-cards-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
    flex-wrap: wrap;
}
.feature-cards{
    background-color: white;
    border-radius: 20px;
    width: 220px;
    height: 160px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

}
.feature-cards p{
    font-size: 14px;
}

    /*Impact Styling*/

.impact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 90%;
    max-width: 1200px;
    height: auto;
}
.stats-container{
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.number{
    color: #FB7A38;
    font-size: 52px;
}
.impact-container img{
    max-width: 100%;
    height: auto;
    display: block;
}

    /*Gallery Styling*/

.gallery{
    margin-top:200px ;
    margin-bottom: 60px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.gallery img{
    max-width: 100%;
    height: auto;
}
.full-width{
    grid-column: span 2;
}

.gallery h2{
    margin-bottom: 28px;
}

    /*CTA Styling*/
.CTA{
    background-image: url('../media/CTA_background.png');
    max-width: 100%;
    width: 100%;
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    min-height: 720px;                 
    
    margin-bottom: 0px;
    padding-top: 280px;

}
.CTA h1{
    color: white;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
}
#CTA-button{
    color: #FB7A38;
    background-color: white;
    font-weight: 600;
}

    /*footer Styling*/
footer{
    margin: 40px;
    margin-bottom: 20px;
    
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-logo img{
    max-width:100px;
    height: auto;
}
.footer-logo p{
    margin-top: -4px;
    font-size: 9px;
    color: #596340;
}
.footer-nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    color: #3A3A3A;
    align-items: center;
}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-socails img{
    width:16px;
    height: auto;
}
.footer-email{
    display: flex;
    font-size: 10px;
    color: #6B6B6B;
    align-items: center;
    gap: 4px;
}
.footer-bottom{
    text-align: center;
    font-size: 10px;
    color: #8A8A8A;
    align-items: baseline;
    margin-top: 24px;
}

    /*Responsive Layout*/

    @media screen and (max-width:872px){
        /*Imapct query*/
    .stats-container{
        flex-direction: row;
        gap:40px;
        margin-bottom: 28px;
        padding: 0;
    }

        /*footer query*/
    .footer-top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .footer-socials{
        grid-column: 2 span;
        justify-content: center;
        margin-top: 12px;
    }
    }

    @media screen and (max-width:690px) {
        /*nav query*/
    .nav-links{
        gap: 20px;
        font-size: 14px;
    }
        /*Hero query*/
    .hero-container img{
        max-width: 320px;
    }
    .hero-container h3{
        font-size: 16px
    }
    .hero-container p{
        font-size: 14px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .volunteer-button{
        padding: 12px 49px;
        font-size: 16px;
    }

    h2{
        font-size: 24px;
    }

        /*features query*/
    .features p{
        font-size: 12px;
    }
    .feature-cards{
    width: 152px;
    height: 120px;
    }
    .feature-cards img{
        max-width: 32px;
        height: auto;
    }
    .feature-cards h3{
        font-size: 16px;
    }
    .feature-cards p{
        font-size: 10px;
    }
    .feature-cards-container{
        gap: 20px;
    }
        /*Impact query*/
    
    .number{
    font-size: 40px;
    }
    .impact p{
        font-size: 12px;
    }
        /*CTA query*/
    .CTA h1{
        font-size: 32px;
        padding: 0 20px;
    }
         /*footer query*/
    .footer-top{
        display: flex;
        flex-direction: column;   
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    .footer-nav-links{
        gap: 12px;
        font-size: 12px;
        justify-content: center;
    }
    }
@media screen and (max-width: 475px) {
        
     /*nav query*/
     .navbar{
        padding: 0 20px;
     }
     .navbar img{
        max-width: 80px;
     }
    .nav-links{
        gap: 12px;
        font-size: 12px;
    }

        /*Hero query*/
    .hero{
        padding-top: 240px;
    }
    .hero-container img{
        max-width: 280px;
    }
    .hero-container h3{
        font-size: 14px
    }
    .hero-container p{
        font-size: 14px;
        margin-left: 36px;
        margin-right: 36px;
        letter-spacing: 0px;
        line-height: 20px;
    }
    .volunteer-button{
        padding: 12px 40px;
        font-size: 14px;
    }

        /*features query*/
    .features{
        margin-top: 100px;
        margin-bottom: 140px;
    }

        /*Impact query*/
    .number{
    font-size: 36px;
    }
    .impact-container p{
        font-size: 10px;
    }

        /*Gallery query*/
    .gallery{
        margin-top: 160px;
    }

    }
